.img-tokken{
    width: 294px;
    height: 288px;
    top: 51px;
    left: 1089px;
}
.header-div{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.city{
    font-size: 48px;
    style: Semi Blod;
    width: 600px;
}
.temperatyr{
    font-size: 128px;
    font-weight: 500px;
}

.heart{
}

.header-first{
 background: rgba(113, 113, 113, 0.3);
    border-radius: 40px;

}

.header-second{
    background: rgba(113, 113, 113, 0.3);
    border-radius: 40px;
}

.div-three{
    background: rgba(113, 113, 113, 0.3);
    border-radius: 40px;
}

.main-fotore{
    background: rgba(113, 113, 113, 0.3);
    border-radius: 40px;
}

.leaft-div{
    background: rgba(113, 113, 113, 0.3);
    border-radius: 40px;
}

.img-back{
    margin-bottom: 100px;
    width: 324px;
    height: 245px;
    top: 336px;
}